
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XEC5XK7QYF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XEC5XK7QYF');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K8JXP3G');</script>
<!-- End Google Tag Manager -->

  <script>/* 
function sendEventInfo(artikelnamn, tid) {
    gtag('event', 'read_article', {
        "artikelnamn": artikelnamn,
        "tid": tid,
    });
 }

document.addEventListener("DOMContentLoaded", () => {

    const readArticle1Button = document.getElementById("knapp1");

    if (readArticle1Button) {
      
        readArticle1Button.addEventListener("click", () => {
            sendEventInfo("Article", 50)
        });

     
      document.getElementById("knapp2").addEventListener("click", () => {
            sendArtReadEvent("Jolies Article", 100)
 });
    }
});*/
  
 console.log("2023-01-30")

</script>



